@media only screen and (max-device-width: 450px) {
  H1 {
    text-align: center;
  }

  .p {
    font-size: 36px;
    margin: 8px;
    text-align: left;
    max-width: 70%;
  }

  button {
    height: 80px;
    border-radius: 20px;
    background-color: #219653;
    border-width: 0px;
    color: #fefefe;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.16rem;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
  }

  .content-container {
    width: 94vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .div-hero-info-image {
    width: 70%;
    height: 70%;
    text-align: center;
  }
  .hero-info-image {
    height: 500px;
    width: 350px;
    border-radius: 160px;
    border-color: #219653;
    border-style: solid;
    border-width: 5px;
  }

  .content-container {
    width: 96vw;
    max-width: 96vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .barra-navegacao {
    display: flex;
    width: 100%;
    height: 72px;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 24px;
  }
  .links-navegacao {
    display: none;
  }
  .titulo-navegacao {
    color: #1e1e1e;
    font-size: 36px;
    letter-spacing: -0.015rem;
    font-weight: bold;
  }

  .section-hero {
    display: flex;
    flex-direction: column; /*alinha entre coluna e linha  */
    align-items: center; /* alinha com base no x  */
    justify-content: flex-start; /*alinha com base no y */
    width: 100%;
    height: auto;
    background-color: #fefefe;
  }

  .hero-info {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 64px;
  }

  .hero-info-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 24px;
    width: 100%;
  }
  .hero-info-title {
    font-size: 56px;
    font-weight: bold;
    margin: 0px;
    margin-top: 16px;
  }
  .hero-info-subtitle {
    font-size: 33px;
    line-height: 36px;
    max-width: 100%;
    margin-top: 16px;
    margin-bottom: 40px;
  }

  .hero-info-icons-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
  }

  .hero-info-icons-img {
    width: 56px;
    height: 56px;
    cursor: pointer;
  }

  .section-abilities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10%;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .ability-cards-container {
    display: grid;
    width: 100%;
    row-gap: 36px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    margin-top: 12px;
  }

  .section-experiences-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90vw;
    background-color: #d9d9d9;
    border-radius: 16px;
    margin-top: 24px;
    padding: 24px;
  }

  .section-portifolio-grid {
    display: grid;
    width: 100%;
    row-gap: 36px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    margin-top: 24px;
  }
}
